{
  "data":
  {
    "attributes": {
      "name":"T_WS",
      "auto-apply":"false",
      "description":"Created by Github Actions for Terraform project",
      "source-name":"GitHub CI/CD for Terraform",
      "source-url":"https://github.com/recarnot/terraform-github-cicd-bootstrap"
    },
    "type":"workspaces"
  }
}
